body{
    background-image: url(../Image/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
form {
    width: 300px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.7);
}

label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select{
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    width: 50%;
    background-color: salmon;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover{
    background-color: black;
    color: white;
    transition: 1s;
}